.DiaryList .menubar{
    margin: 20px 0;
    display: flex;
    gap:10px;
}

.DiaryList .menubar select{
    background-color: lightgray;
    border:none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}

.DiaryList .menubar Button{
    flex:1;
}