.DiaryItem{
    display: flex;
    gap:15px;
    justify-content: space-between;
    padding:15px 0;
    border-bottom: 1px solid lightgray;
}

.DiaryItem .img_section{
    min-width:120px;
    height:80px;
    display:flex;
    justify-content:center;
    cursor:pointer;
    border-radius:5px;
}

.DiaryItem .img_section > img {
    width:60%;
}

.DiaryItem .img_section_1{
    background-color: rgba(242,255,237,0.5);
}

.DiaryItem .info_section{
    flex:1;
    cursor: pointer;
}

.DiaryItem .create_date{
    font-weight: bold;
    font-size:25px;
}

.DiaryItem .info_section .content{
    font-size:18px;
}

.DiaryItem .btn_section{
    padding-top:15px;
}