@font-face {
  font-family: "배민도현체가져오기";
  src: url("/public/BMDOHYEON_ttf.ttf"); /*이거 빨간줄은 왜 뜸?*/
}

body * {
  font-family: "배민도현체가져오기";
}

html,body{
  margin:0;
  width:100%;
  background-color: rgba(242,255,237,0.2);
}
#root{
  background-color: white;
  max-width : 600px;
  width:100%;
  margin:0 auto;
  min-height:100vh;
  height:100%;
  box-shadow : rgba(100,100,100,0.2) 0px 0px 29px 0px;
  padding : 0 10px;
}